.u-section-1 {background-image: none; min-height: 822px}
.u-section-1 .u-text-1 {font-size: 3.4375rem; animation-duration: 1000ms; font-weight: 700; font-style: italic; margin: 26px calc(((100% - 1140px) / 2) + 1px) 0}
.u-section-1 .u-image-1 {width: 340px; height: 340px; background-image: url("images/16797969_10158246207080173_1219777349935693259_o.jpg"); background-position: 50% 50%; animation-duration: 1000ms; margin: 21px auto 0 calc(((100% - 1140px) / 2) + 400px)}
.u-section-1 .u-text-2 {font-weight: 700; font-style: italic; font-size: 1.25rem; animation-duration: 1000ms; margin: 0 81px}
.u-section-1 .u-text-3 {font-size: 1.125rem; animation-duration: 1000ms; line-height: 2; width: 719px; margin: 33px auto 0}
.u-section-1 .u-btn-1 {background-image: none; border-style: solid; animation-duration: 1000ms; margin: 46px auto 28px calc(((100% - 1140px) / 2) + 507px)} 

@media (max-width: 1199px){ .u-section-1 {min-height: 912px}
.u-section-1 .u-text-1 {margin-top: 0; margin-left: 51px; margin-right: 51px}
.u-section-1 .u-image-1 {margin-left: auto}
.u-section-1 .u-text-2 {width: 248px; margin-left: auto; margin-right: auto}
.u-section-1 .u-btn-1 {margin-top: 42px; margin-left: auto; margin-bottom: 60px} }

@media (max-width: 991px){ .u-section-1 {min-height: 896px}
.u-section-1 .u-text-1 {font-size: 3.125rem}
.u-section-1 .u-text-2 {width: auto; margin-right: calc(((100% - 720px) / 2) + 226px); margin-left: calc(((100% - 720px) / 2) + 247px)}
.u-section-1 .u-text-3 {margin-left: calc(((100% - 720px) / 2) + 1px); margin-right: calc(((100% - 720px) / 2) + 1px)} }

@media (max-width: 767px){ .u-section-1 {min-height: 887px}
.u-section-1 .u-text-1 {font-size: 2.75rem}
.u-section-1 .u-image-1 {margin-left: calc(((100% - 540px) / 2) + 100px)}
.u-section-1 .u-text-2 {font-size: 1.125rem; margin-right: calc(((100% - 540px) / 2)); margin-left: calc(((100% - 540px) / 2) + 3px)}
.u-section-1 .u-text-3 {font-size: 1rem; margin-top: 32px; margin-left: 51px; margin-right: 51px; width: 540px}
.u-section-1 .u-btn-1 {margin-top: 81px} }

@media (max-width: 575px){ .u-section-1 {min-height: 832px}
.u-section-1 .u-text-1 {width: 338px; margin-left: auto; margin-right: auto}
.u-section-1 .u-image-1 {margin-top: 0; margin-left: auto}
.u-section-1 .u-text-2 {width: 338px; margin-left: auto; margin-right: auto}
.u-section-1 .u-text-3 {width: 338px; margin-top: 10px; margin-left: auto; margin-right: auto}
.u-section-1 .u-btn-1 {margin-top: 31px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 50vw}
.u-section-2 .u-text-1 {margin: 88px 0 0}
.u-section-2 .u-text-2 {font-size: 1.125rem; line-height: 1.4; margin: 117px 572px 0 -2px}
.u-section-2 .u-text-3 {font-size: 1.125rem; line-height: 1.4; margin: -225px 2px 0 568px}
.u-section-2 .u-text-4 {font-size: 1.125rem; line-height: 1.2; margin: 9px 187px 0 608px}
.u-section-2 .u-text-5 {font-size: 1.125rem; line-height: 1.2; margin: -63px 22px 0 873px}
.u-section-2 .u-text-6 {font-size: 1.125rem; line-height: 1.4; margin: 62px 2px 0 608px}
.u-section-2 .u-btn-1 {background-image: none; border-style: solid; animation-duration: 1000ms; margin: 117px auto 0 507px}
.u-section-2 .u-btn-2 {background-image: none; border-style: solid; animation-duration: 1000ms; margin: 22px auto 60px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 1004px}
.u-section-2 .u-text-2 {width: auto; margin-right: 470px}
.u-section-2 .u-text-3 {width: auto; margin-top: -236px; margin-right: 0; margin-left: 470px}
.u-section-2 .u-text-4 {width: auto; margin-top: 16px; margin-right: 85px; margin-left: 510px}
.u-section-2 .u-text-5 {width: auto; margin-right: 16px; margin-left: 679px}
.u-section-2 .u-text-6 {width: auto; margin-top: 58px; margin-right: 0; margin-left: 510px}
.u-section-2 .u-btn-1 {margin-left: 407px}
.u-section-2 .u-btn-2 {margin-top: 24px} }

@media (max-width: 991px){ .u-section-2 .u-text-1 {width: 720px}
.u-section-2 .u-text-2 {margin-top: 72px; margin-right: 360px; margin-left: 0}
.u-section-2 .u-text-3 {margin-top: -275px; margin-left: 360px}
.u-section-2 .u-text-4 {margin-top: 9px; margin-right: -37px; margin-left: 413px}
.u-section-2 .u-text-5 {margin-right: -37px; margin-left: 513px}
.u-section-2 .u-text-6 {margin-top: 60px; margin-right: -5px; margin-left: 413px}
.u-section-2 .u-btn-1 {margin-top: 141px; margin-left: auto} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 1129px}
.u-section-2 .u-text-1 {width: 540px; margin-top: 70px}
.u-section-2 .u-text-2 {margin-top: 40px; margin-left: 1px; margin-right: 1px}
.u-section-2 .u-text-3 {margin-top: 8px; margin-left: 1px; margin-right: 1px}
.u-section-2 .u-text-4 {line-height: 1.4; margin-top: 0; margin-right: 83px; margin-left: 60px}
.u-section-2 .u-text-5 {margin-top: -84px; margin-right: 115px; margin-left: 270px}
.u-section-2 .u-text-6 {line-height: 1.6; margin-top: 83px; margin-left: 60px}
.u-section-2 .u-btn-1 {margin-top: 11px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 1414px}
.u-section-2 .u-text-1 {width: 340px; margin-top: 60px}
.u-section-2 .u-text-2 {margin-top: 58px}
.u-section-2 .u-text-3 {margin-top: 34px}
.u-section-2 .u-text-4 {margin-top: 13px; margin-right: 45px; margin-left: 40px}
.u-section-2 .u-text-5 {margin-top: -108px; margin-right: 45px; margin-left: 167px}
.u-section-2 .u-text-6 {margin-top: 103px; margin-right: 1px; margin-left: 40px}
.u-section-2 .u-btn-1 {margin-top: 16px; margin-left: 107px}
.u-section-2 .u-btn-2 {margin-top: 13px; margin-left: 105px} }.u-section-3 {background-image: none; margin-top: 0; margin-bottom: 0; min-height: 100vh}
.u-section-3 .u-text-1 {font-weight: 700; font-style: italic; margin: 66px 0 0}
.u-section-3 .u-list-1 {min-height: 654px; grid-gap: 10px 10px; grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px); grid-template-rows: auto; width: 1140px; margin: 72px calc(((100% - 1140px) / 2) + -7px) 0 auto}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-image-1 {width: 290px; height: 290px; margin: 0 auto}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-image-2 {width: 290px; height: 290px; margin: 0 auto}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-image-3 {width: 290px; height: 290px; margin: 0 auto}
.u-section-3 .u-text-2 {font-size: 1.125rem; margin: -244px calc(((100% - 1140px) / 2) + 762px) 0 calc(((100% - 1140px) / 2) + 7px)}
.u-section-3 .u-btn-1 {font-size: 1.125rem; padding: 0}
.u-section-3 .u-text-3 {font-size: 1rem; font-style: italic; margin: 9px calc(((100% - 1140px) / 2) + 762px) 0 calc(((100% - 1140px) / 2) + 7px)}
.u-section-3 .u-text-4 {font-size: 1rem; font-style: italic; margin: -25px calc(((100% - 1140px) / 2) + 380px) 0 calc(((100% - 1140px) / 2) + 391px)}
.u-section-3 .u-text-5 {font-size: 1.125rem; margin: -62px calc(((100% - 1140px) / 2) + 381px) 0 calc(((100% - 1140px) / 2) + 391px)}
.u-section-3 .u-btn-2 {padding: 0}
.u-section-3 .u-text-6 {font-size: 1.5rem; font-style: italic; font-weight: normal; margin: -88px calc(((100% - 1140px) / 2) + -3px) 0 calc(((100% - 1140px) / 2) + 776px)}
.u-section-3 .u-btn-3 {font-size: 1.375rem; padding: 0}
.u-section-3 .u-text-7 {font-size: 1.125rem; margin: 22px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 773px)}
.u-section-3 .u-btn-4 {font-size: 1.125rem; padding: 0}
.u-section-3 .u-text-8 {font-size: 1.3125rem; font-style: italic; margin: -102px calc(((100% - 1140px) / 2) + 762px) 0 calc(((100% - 1140px) / 2) + 7px)}
.u-section-3 .u-btn-5 {background-image: none; border-style: none; font-size: 1.3125rem; padding: 0}
.u-section-3 .u-text-9 {font-size: 1.375rem; font-style: italic; margin: -50px calc(((100% - 1140px) / 2) + 379px) 0 calc(((100% - 1140px) / 2) + 393px)}
.u-section-3 .u-btn-6 {font-size: 1.375rem; padding: 0}
.u-section-3 .u-text-10 {font-size: 1rem; font-style: italic; margin: 61px calc(((100% - 1140px) / 2) + -3px) 0 calc(((100% - 1140px) / 2) + 776px)}
.u-section-3 .u-text-11 {font-size: 1.125rem; margin: 46px calc(((100% - 1140px) / 2) + 762px) 0 calc(((100% - 1140px) / 2) + 7px)}
.u-section-3 .u-text-12 {font-size: 1.125rem; margin: -84px calc(((100% - 1140px) / 2) + 378px) 0 calc(((100% - 1140px) / 2) + 393px)}
.u-section-3 .u-text-13 {font-size: 1.125rem; margin: -70px calc(((100% - 1140px) / 2) + -2px) 0 calc(((100% - 1140px) / 2) + 775px)}
.u-section-3 .u-btn-7 {background-image: none; border-style: solid; animation-duration: 1000ms; margin: 125px auto 60px calc(((100% - 1140px) / 2) + 507px)} 

@media (max-width: 1199px){ .u-section-3 {min-height: 983px}
.u-section-3 .u-text-1 {width: 605px; margin-top: 60px; margin-left: calc(((100% - 940px) / 2) + 168px); margin-right: calc(((100% - 940px) / 2) + 168px)}
.u-section-3 .u-list-1 {min-height: 653px; height: auto; width: 940px; margin-top: 66px; margin-right: auto}
.u-section-3 .u-image-1 {height: 249px; background-position: 50% 50%; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-image-2 {height: 249px; background-position: 50% 50%; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-image-3 {height: 249px; background-position: 50% 50%; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-text-2 {width: auto; margin-top: -273px; margin-right: calc(((100% - 940px) / 2) + 567px); margin-left: calc(((100% - 940px) / 2) + -65px)}
.u-section-3 .u-text-3 {width: auto; margin-top: 8px; margin-right: calc(((100% - 940px) / 2) + 567px); margin-left: calc(((100% - 940px) / 2) + -65px)}
.u-section-3 .u-text-4 {width: 423px; margin-left: auto; margin-right: auto}
.u-section-3 .u-text-5 {font-size: 1rem; width: 302px; margin-top: -59px; margin-left: calc(((100% - 940px) / 2) + 319px); margin-right: calc(((100% - 940px) / 2) + 319px)}
.u-section-3 .u-text-6 {width: auto; margin-top: -84px; margin-right: calc(((100% - 940px) / 2) + 4px); margin-left: calc(((100% - 940px) / 2) + 635px)}
.u-section-3 .u-text-7 {width: auto; margin-top: 20px; margin-right: calc(((100% - 940px) / 2) + -57px); margin-left: calc(((100% - 940px) / 2) + 574px)}
.u-section-3 .u-text-8 {width: auto; margin-top: -100px; margin-right: calc(((100% - 940px) / 2) + 634px); margin-left: calc(((100% - 940px) / 2) + 2px)}
.u-section-3 .u-text-9 {width: 439px; margin-top: -52px; margin-left: calc(((100% - 940px) / 2) + 251px); margin-right: calc(((100% - 940px) / 2) + 251px)}
.u-section-3 .u-text-10 {width: auto; margin-top: 56px; margin-right: calc(((100% - 940px) / 2) + -57px); margin-left: calc(((100% - 940px) / 2) + 574px)}
.u-section-3 .u-text-11 {width: auto; margin-top: 31px; margin-right: calc(((100% - 940px) / 2) + 635px); margin-left: calc(((100% - 940px) / 2) + 1px)}
.u-section-3 .u-text-12 {width: 304px; margin-left: calc(((100% - 940px) / 2) + 318px); margin-right: calc(((100% - 940px) / 2) + 318px)}
.u-section-3 .u-text-13 {width: auto; margin-top: -112px; margin-right: calc(((100% - 940px) / 2) + 3px); margin-left: calc(((100% - 940px) / 2) + 635px)}
.u-section-3 .u-btn-7 {margin-top: 183px; margin-left: calc(((100% - 940px) / 2) + 407px)} }

@media (max-width: 991px){ .u-section-3 {min-height: 2047px}
.u-section-3 .u-text-1 {margin-top: 55px; margin-left: calc(((100% - 720px) / 2) + 58px); margin-right: calc(((100% - 720px) / 2) + 58px)}
.u-section-3 .u-list-1 {min-height: 1691px; grid-gap: 14px 14px; grid-template-columns: 100%; width: 612px; margin-top: 62px}
.u-section-3 .u-text-2 {font-size: 1.25rem; width: 605px; margin-top: -1323px; margin-left: calc(((100% - 720px) / 2) + 58px); margin-right: calc(((100% - 720px) / 2) + 58px)}
.u-section-3 .u-btn-1 {font-size: 1rem}
.u-section-3 .u-text-3 {width: 605px; margin-top: 0; margin-left: auto; margin-right: auto}
.u-section-3 .u-text-4 {margin-top: 522px}
.u-section-3 .u-text-5 {width: 605px; margin-top: -50px; margin-left: calc(((100% - 720px) / 2) + 58px); margin-right: calc(((100% - 720px) / 2) + 58px)}
.u-section-3 .u-text-6 {width: 609px; margin-top: 513px; margin-left: calc(((100% - 720px) / 2) + 56px); margin-right: calc(((100% - 720px) / 2) + 56px)}
.u-section-3 .u-btn-3 {font-size: 1.875rem}
.u-section-3 .u-text-7 {width: 607px; margin-top: 0; margin-left: auto; margin-right: auto}
.u-section-3 .u-btn-4 {font-size: 1rem}
.u-section-3 .u-text-8 {font-size: 1.75rem; width: 605px; margin-top: -1254px; margin-left: calc(((100% - 720px) / 2) + 58px); margin-right: calc(((100% - 720px) / 2) + 58px)}
.u-section-3 .u-btn-5 {font-size: 1.875rem}
.u-section-3 .u-text-9 {width: 605px; margin-top: 500px; margin-left: calc(((100% - 720px) / 2) + 58px); margin-right: calc(((100% - 720px) / 2) + 58px)}
.u-section-3 .u-btn-6 {font-size: 1.75rem}
.u-section-3 .u-text-10 {width: 607px; margin-top: 614px; margin-left: auto; margin-right: auto}
.u-section-3 .u-text-11 {font-size: 1.25rem; width: 605px; margin-top: -1108px; margin-left: auto; margin-right: auto}
.u-section-3 .u-text-12 {font-size: 1.25rem; width: 605px; margin-top: 500px; margin-left: calc(((100% - 720px) / 2) + 58px); margin-right: calc(((100% - 720px) / 2) + 58px)}
.u-section-3 .u-text-13 {font-size: 1.25rem; width: 607px; margin-top: 510px; margin-left: auto; margin-right: auto}
.u-section-3 .u-btn-7 {margin-top: 149px; margin-left: auto} }

@media (max-width: 767px){ .u-section-3 {min-height: 2262px}
.u-section-3 .u-text-1 {margin-top: 60px; margin-left: 51px; margin-right: 51px; width: 540px}
.u-section-3 .u-list-1 {width: 500px; margin-top: 57px; margin-left: calc(((100% - 540px) / 2) + 20px)}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-2 {width: 540px; margin-left: auto; margin-right: auto}
.u-section-3 .u-text-3 {width: 540px; margin-left: calc(((100% - 540px) / 2))}
.u-section-3 .u-text-5 {width: 540px; margin-left: calc(((100% - 540px) / 2)); margin-right: calc(((100% - 540px) / 2))}
.u-section-3 .u-text-6 {width: 540px; margin-left: calc(((100% - 540px) / 2)); margin-right: calc(((100% - 540px) / 2))}
.u-section-3 .u-text-7 {width: 540px; margin-right: calc(((100% - 540px) / 2))}
.u-section-3 .u-text-8 {width: 540px; margin-left: calc(((100% - 540px) / 2)); margin-right: calc(((100% - 540px) / 2))}
.u-section-3 .u-text-9 {width: 540px; margin-left: calc(((100% - 540px) / 2)); margin-right: calc(((100% - 540px) / 2))}
.u-section-3 .u-text-10 {width: 498px}
.u-section-3 .u-text-11 {width: 500px; margin-left: calc(((100% - 540px) / 2) + 20px); margin-right: calc(((100% - 540px) / 2) + 20px)}
.u-section-3 .u-text-12 {width: 500px; margin-left: calc(((100% - 540px) / 2) + 20px); margin-right: calc(((100% - 540px) / 2) + 20px)}
.u-section-3 .u-text-13 {width: 540px}
.u-section-3 .u-btn-7 {width: 126px} }

@media (max-width: 575px){ .u-section-3 .u-text-1 {width: 338px; margin-top: 57px; margin-left: auto; margin-right: auto}
.u-section-3 .u-list-1 {width: 340px; margin-top: 60px; margin-left: auto}
.u-section-3 .u-text-2 {width: auto; margin-top: -1315px; margin-right: calc(((100% - 340px) / 2) + 3px); margin-left: calc(((100% - 340px) / 2) + -3px)}
.u-section-3 .u-text-3 {width: auto; margin-right: calc(((100% - 340px) / 2) + 2px); margin-left: calc(((100% - 340px) / 2) + -2px)}
.u-section-3 .u-text-4 {width: 340px; margin-top: 514px}
.u-section-3 .u-text-5 {width: 340px; margin-left: calc(((100% - 340px) / 2)); margin-right: calc(((100% - 340px) / 2))}
.u-section-3 .u-text-6 {width: 340px; margin-left: calc(((100% - 340px) / 2)); margin-right: calc(((100% - 340px) / 2))}
.u-section-3 .u-btn-3 {font-size: 1.5rem}
.u-section-3 .u-text-7 {width: 340px; margin-left: calc(((100% - 340px) / 2)); margin-right: calc(((100% - 340px) / 2))}
.u-section-3 .u-text-8 {width: auto; margin-top: -1243px; margin-right: calc(((100% - 340px) / 2) + 2px); margin-left: calc(((100% - 340px) / 2) + -2px)}
.u-section-3 .u-btn-5 {font-size: 1.5rem}
.u-section-3 .u-text-9 {font-size: 0.875rem; margin-top: 508px; margin-left: 0; margin-right: 0; width: 340px}
.u-section-3 .u-btn-6 {font-size: 1.5rem}
.u-section-3 .u-text-10 {width: 340px; margin-top: 619px}
.u-section-3 .u-text-11 {font-size: 1.125rem; width: 334px; margin-top: -1099px; margin-left: calc(((100% - 340px) / 2)); margin-right: calc(((100% - 340px) / 2))}
.u-section-3 .u-text-12 {font-size: 1.125rem; width: 329px; margin-top: 461px; margin-left: calc(((100% - 340px) / 2) + 6px); margin-right: calc(((100% - 340px) / 2) + 6px)}
.u-section-3 .u-text-13 {font-size: 1.125rem; width: 329px; margin-top: 457px; margin-left: calc(((100% - 340px) / 2) + 6px); margin-right: calc(((100% - 340px) / 2) + 6px)}
.u-section-3 .u-btn-7 {margin-top: 158px} }.u-section-4 {background-image: none; margin-top: 0; margin-bottom: 0}
.u-section-4 .u-sheet-1 {min-height: 564px}
.u-section-4 .u-text-1 {font-style: italic; font-weight: 700; margin: 60px auto 0}
.u-section-4 .u-list-1 {min-height: 832px; grid-template-columns: 100%; grid-template-rows: auto auto auto; grid-gap: 10px 10px; margin: 30px auto 0 0}
.u-section-4 .u-list-item-1 {margin-top: 0; margin-bottom: 0}
.u-section-4 .u-container-layout-1 {padding: 10px 30px}
.u-section-4 .u-text-2 {font-style: italic; font-size: 1.125rem; font-weight: normal; margin: 0}
.u-section-4 .u-text-3 {font-style: italic; font-weight: 700; font-size: 1.25rem; margin: 3px 19px 0 0}
.u-section-4 .u-text-4 {font-weight: 600; font-style: italic; font-size: 1rem; margin: 7px 0 -10px}
.u-section-4 .u-list-item-2 {margin-top: 0; margin-bottom: 0}
.u-section-4 .u-container-layout-2 {padding: 10px 30px}
.u-section-4 .u-text-5 {font-style: italic; font-size: 1.125rem; font-weight: normal; margin: 0}
.u-section-4 .u-text-6 {font-style: italic; font-weight: 700; font-size: 1.25rem; margin: 3px 19px 0 0}
.u-section-4 .u-text-7 {font-weight: 600; font-style: italic; font-size: 1rem; margin: 7px 0 -10px}
.u-section-4 .u-list-item-3 {margin-top: 0; margin-bottom: 0}
.u-section-4 .u-container-layout-3 {padding: 10px 30px}
.u-section-4 .u-text-8 {font-style: italic; font-size: 1.125rem; font-weight: normal; margin: 0}
.u-section-4 .u-text-9 {font-style: italic; font-weight: 700; font-size: 1.25rem; margin: 3px 19px 0 0}
.u-section-4 .u-text-10 {font-weight: 600; font-style: italic; font-size: 1rem; margin: 7px 0 -10px}
.u-section-4 .u-list-item-4 {margin-top: 0; margin-bottom: 0}
.u-section-4 .u-container-layout-4 {padding: 10px 30px}
.u-section-4 .u-text-11 {font-style: italic; font-size: 1.125rem; font-weight: normal; margin: 0}
.u-section-4 .u-text-12 {font-style: italic; font-weight: 700; font-size: 1.25rem; margin: 3px 19px 0 0}
.u-section-4 .u-text-13 {font-weight: 600; font-style: italic; font-size: 1rem; margin: 7px 0 -10px}
.u-section-4 .u-list-item-5 {margin-top: 0; margin-bottom: 0}
.u-section-4 .u-container-layout-5 {padding: 10px 30px}
.u-section-4 .u-text-14 {font-style: italic; font-size: 1.125rem; font-weight: normal; margin: 0}
.u-section-4 .u-text-15 {font-style: italic; font-weight: 700; font-size: 1.25rem; margin: 3px 19px 0 0}
.u-section-4 .u-text-16 {font-weight: 600; font-style: italic; font-size: 1rem; margin: 7px 0 -10px}
.u-section-4 .u-text-17 {font-weight: 600; line-height: 1.6; font-size: 1rem; font-style: normal; margin: -25px 0 49px 86px} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 1131px}
.u-section-4 .u-list-1 {height: auto; margin-right: initial; margin-left: initial}
.u-section-4 .u-text-17 {width: auto; margin: 0 -50px 60px 50px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 588px}
.u-section-4 .u-text-1 {width: auto; margin-top: 66px}
.u-section-4 .u-list-1 {min-height: 863px; margin-top: 24px; margin-right: initial; margin-left: initial}
.u-section-4 .u-text-2 {width: auto; font-size: 1rem; margin-right: 180px}
.u-section-4 .u-text-3 {width: auto; font-size: 1rem; margin-top: 0; margin-right: -30px}
.u-section-4 .u-text-4 {width: auto; font-size: 0.875rem; margin-top: 8px; margin-right: -30px; margin-bottom: 0}
.u-section-4 .u-text-5 {width: auto; font-size: 1rem; margin-right: 180px}
.u-section-4 .u-text-6 {width: auto; font-size: 1rem; margin-top: 0; margin-right: -30px}
.u-section-4 .u-text-7 {width: auto; font-size: 0.875rem; margin-top: 8px; margin-right: -30px; margin-bottom: 0}
.u-section-4 .u-text-8 {width: auto; font-size: 1rem; margin-right: 180px}
.u-section-4 .u-text-9 {width: auto; font-size: 1rem; margin-top: 0; margin-right: -30px}
.u-section-4 .u-text-10 {width: auto; font-size: 0.875rem; margin-top: 8px; margin-right: -30px; margin-bottom: 0}
.u-section-4 .u-text-11 {width: auto; font-size: 1rem; margin-right: 180px}
.u-section-4 .u-text-12 {width: auto; font-size: 1rem; margin-top: 0; margin-right: -30px}
.u-section-4 .u-text-13 {width: auto; font-size: 0.875rem; margin-top: 8px; margin-right: -30px; margin-bottom: 0}
.u-section-4 .u-text-14 {width: auto; font-size: 1rem; margin-right: 180px}
.u-section-4 .u-text-15 {width: auto; font-size: 1rem; margin-top: 0; margin-right: -30px}
.u-section-4 .u-text-16 {width: auto; font-size: 0.875rem; margin-top: 8px; margin-right: -30px; margin-bottom: 0}
.u-section-4 .u-text-17 {font-size: 0.875rem; font-style: italic; margin-top: -32px; margin-right: 0; margin-left: 60px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 545px}
.u-section-4 .u-text-1 {margin-top: 60px; margin-left: 0; margin-right: 0}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-text-2 {margin-left: 2px; margin-right: 2px}
.u-section-4 .u-text-3 {margin-right: -10px}
.u-section-4 .u-text-4 {margin-right: 2px; margin-bottom: -10px; margin-left: -2px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-text-5 {margin-left: 2px; margin-right: 2px}
.u-section-4 .u-text-6 {margin-right: -10px}
.u-section-4 .u-text-7 {margin-right: 2px; margin-bottom: -10px; margin-left: -2px}
.u-section-4 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-text-8 {margin-left: 2px; margin-right: 2px}
.u-section-4 .u-text-9 {margin-right: -10px}
.u-section-4 .u-text-10 {margin-right: 2px; margin-bottom: -10px; margin-left: -2px}
.u-section-4 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-text-11 {margin-left: 2px; margin-right: 2px}
.u-section-4 .u-text-12 {margin-right: -10px}
.u-section-4 .u-text-13 {margin-right: 2px; margin-bottom: -10px; margin-left: -2px}
.u-section-4 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-text-14 {margin-left: 2px; margin-right: 2px}
.u-section-4 .u-text-15 {margin-right: -10px}
.u-section-4 .u-text-16 {margin-right: 2px; margin-bottom: -10px; margin-left: -2px}
.u-section-4 .u-text-17 {margin: 0 27px 28px 35px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 1567px}
.u-section-4 .u-list-1 {min-height: 1257px; margin-right: initial; margin-left: initial}
.u-section-4 .u-text-2 {font-size: 0.875rem; margin-left: 0; margin-right: 0}
.u-section-4 .u-text-3 {margin-top: 4px; margin-right: 0}
.u-section-4 .u-text-4 {margin: 4px 0 0 -1px}
.u-section-4 .u-text-5 {font-size: 0.875rem; margin-left: 0; margin-right: 0}
.u-section-4 .u-text-6 {margin-top: 4px; margin-right: 0}
.u-section-4 .u-text-7 {margin: 4px 0 0 -1px}
.u-section-4 .u-text-8 {font-size: 0.875rem; margin-left: 0; margin-right: 0}
.u-section-4 .u-text-9 {margin-top: 4px; margin-right: 0}
.u-section-4 .u-text-10 {margin: 4px 0 0 -1px}
.u-section-4 .u-text-11 {font-size: 0.875rem; margin-left: 0; margin-right: 0}
.u-section-4 .u-text-12 {margin-top: 4px; margin-right: 0}
.u-section-4 .u-text-13 {margin: 4px 0 0 -1px}
.u-section-4 .u-text-14 {font-size: 0.875rem; margin-left: 0; margin-right: 0}
.u-section-4 .u-text-15 {margin-top: 4px; margin-right: 0}
.u-section-4 .u-text-16 {margin: 4px 0 0 -1px}
.u-section-4 .u-text-17 {margin: -10px 0 60px 27px} }.u-section-5 {margin-top: 0; margin-bottom: 0; background-image: none}
.u-section-5 .u-sheet-1 {min-height: 516px}
.u-section-5 .u-text-1 {font-size: 3.125rem; margin: 55px auto 0}
.u-section-5 .u-group-1 {width: 298px; min-height: 214px; margin: 67px auto 0}
.u-section-5 .u-container-layout-1 {padding: 5px 0 12px 30px}
.u-section-5 .u-image-1 {width: 146px; height: 57px; margin: 0 auto 0 44px}
.u-section-5 .u-text-2 {font-weight: 700; margin: 0 auto 0 20px}
.u-section-5 .u-text-3 {margin: 0 auto 0 -2px}
.u-section-5 .u-btn-1 {padding: 0}
.u-section-5 .u-text-4 {margin: 0 auto 0 67px}
.u-section-5 .u-btn-2 {padding: 0}
.u-section-5 .u-social-icons-1 {white-space: nowrap; height: 32px; min-height: 16px; width: 128px; min-width: 64px; margin: 29px auto 0 -30px}
.u-section-5 .u-icon-1 {height: 100%}
.u-section-5 .u-icon-2 {height: 100%}
.u-section-5 .u-icon-3 {height: 100%}
.u-section-5 .u-icon-4 {height: 100%}
.u-section-5 .u-text-5 {margin: -25px 50px 0 auto}
.u-section-5 .u-text-6 {font-size: 0.875rem; margin: 14px auto 60px} 

@media (max-width: 991px){ .u-section-5 .u-container-layout-1 {padding-bottom: 10px} }

@media (max-width: 767px){ .u-section-5 .u-group-1 {min-height: 216px; margin-top: 76px}
.u-section-5 .u-container-layout-1 {padding-left: 10px}
.u-section-5 .u-image-1 {margin-left: auto}
.u-section-5 .u-text-2 {margin-left: auto}
.u-section-5 .u-text-3 {margin-left: 23px; margin-right: 23px}
.u-section-5 .u-text-4 {margin-left: auto}
.u-section-5 .u-social-icons-1 {margin-top: 33px; margin-left: 0}
.u-section-5 .u-text-5 {width: auto; margin-right: 45px}
.u-section-5 .u-text-6 {margin-top: 5px} }.u-section-6 {background-image: none}
.u-section-6 .u-sheet-1 {min-height: 103px}
.u-section-6 .u-btn-1 {background-image: none; border-style: solid; animation-duration: 1000ms; margin: 50px auto 4px} 

@media (max-width: 1199px){ .u-section-6 .u-btn-1 {height: 49px} }